.donate-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Exo 2',sans-serif;
}
.donate-card-name {
    text-transform: uppercase;
    line-height:20px;
}
.donate-card-price {
    line-height:5px;
}
.donate-card-image {
    border-radius:12px;
    width:300px;
    height:300px;
}