.news-card {
    display: flex;
    background-color: rgba(26, 26, 26, 0.7); /* Полупрозрачный фон */
    backdrop-filter: blur(10px); /* Эффект размытия */
    -webkit-backdrop-filter: blur(10px); /* Поддержка Safari */
    border: 2px solid rgba(255, 255, 255, 0.1); /* 2px рамка */
    border-radius: 12px;
    width:75%;
    gap:30px;
    font-family: 'Exo 2',sans-serif;
    padding-right:30px;
}
.news-img {
    width:300px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    object-fit: cover;
    border-right: 2px solid rgba(255, 255, 255, 0.1);;
}
.news-text {
    color:#a0a0a0;
}