.privilege-feats-wrapper {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding: 60px 30px 0;
    gap:20px;
}
.privilege-feats-wrapper > *:last-child:nth-child(odd) {
  grid-column: span 2;
  width: 45%;
  justify-self: center;
}
@media(max-width:767px){
  .privilege-feats-wrapper {
    grid-template-columns: 1fr;
    padding: 60px 50px 0;
  }
  .privilege-feats-wrapper > *:last-child:nth-child(odd) {
    grid-column: auto;
    width: auto;
    justify-self: auto;
  }
}
@media(max-width:479px){
  .privilege-feats-wrapper {
    padding: 60px 45px 0;
  }
}