.servers-gallery-wrapper {
  overflow: hidden;
  padding: 50px 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.servers-gallery-wrapper h3 {
    font-size:25px;
}
.carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 80%;
  border-radius: 12px;
}

.carousel-track {
  display: flex;
  width: 100%;
  height: 100%;
}

.carousel-slide {
  min-width: 100%;
  position: relative;
}

.carousel-slide img {
  width: 100%;
  height: auto;
  display: block;
}