.hero-section {
  padding: 125px 30px 50px;
  line-height:30px;
}
.servers-hero-section {
  width:50%;
}
.begin-your-journey {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.begin-your-journey h2  {
  font-size:30px;
}
.begin-your-journey p {
  color:#a0a0a0;
}
@media(max-width:767px){
  .servers-hero-section {
    justify-self:center;
    width:80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .begin-your-journey {
    justify-self:center;
    text-align: center;
    width:85%;
  }
}