.shop-hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.shop-fine-print {
    color: #a0a0a0;
    padding: 50px 30px 0;
}
.privilege-features-header {
    padding:50px 30px 0;
    text-align: center;
    font-size:25px;
}
@media(max-width:1023px){
    .shop-fine-print {
        text-align: center;
    }
}