.subserver-card {
  max-width: 100%;
  min-height: 250px;
  background-position: center;
  background-size: cover;
  border-radius: 18px;
  display: flex;
  padding: 0 30px;
  flex-direction: column;
  justify-content: center;
  font-family: 'Exo 2', sans-serif;
  position: relative;
  overflow: hidden;
}
.subserver-card-content-wrapper {
  z-index: 3;
}
.subserver-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 0%, transparent 100%);
  pointer-events: none;
  z-index: 0;
}
.subserver-online-wrapper {
  background-color: rgba(26, 26, 26, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  position: relative;
}
.subserver-online-status {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  left: 10px;
  margin-right: 10px;
}
@keyframes pulse {
  0%, 100% {
    background-color: #4caf50;
  }
  50% {
    background-color: #3d8b40; /* Более темный оттенок #4caf50 */
  }
}

.subserver-online-status {
  /* другие стили */
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: inline-block;
  margin-right: 8px;
}
@media(max-width:767px){
  .subserver-card-content-wrapper h2 {
    width:50%;
  }
}
@media(max-width:479px){
  .subserver-card {
    padding: 0 15px;
  }
  .subserver-card-content-wrapper h2 {
    font-size:20px;
  }
  .subserver-online-wrapper {
    font-size:14px;
    padding: 0 13px;
  }
}